.weather-header {
  background-color: #738eaa;
  height: 45px;
  padding: 0.1px 0px;
  padding-bottom: 2px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.weather {
  background-color: rgb(239, 237, 227, 0.3);
  border-radius: 3px;
  color: white;
  width: 600px;
  height: 500px;
  margin: 0px auto;
  margin-top: 25px;
}
#search-form {
  margin: 15px 0px;
  margin-left: 20px;
  display: flex;
  align-items: baseline;
}
.search-bar {
  border: 1px solid white;
  border-radius: 5px;
  padding: 9px 5px;
  margin-right: 10px;
  width: 200px;
}
.submit {
  background-color: #738eaa;
  border: 1px solid #738eaa;
  border-radius: 10px;
  color: white;
  padding: 10px 15px;
}
.submit:hover {
  background-color: #425c86;
  border: 1px solid #425c86;
}
.time {
  border-radius: 5px;
  margin: 0px auto;
  margin-top: 10px;
  background-color: rgb(115, 142, 170, 0.4);
  padding: 5px 10px;
  width: 75px;
  text-align: center;
}
#line-1 {
  margin-top: 20px;
  margin-bottom: 0px;
  border: 0.1px solid white;
}
.weather-icon {
  height: 50px;
  margin-top: 15px;
}
.city {
  margin-top: 1px;
  margin-bottom: 10px;
  font-weight: 200;
  font-size: 36px;
}
.temperature {
  font-size: 56px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 500;
}
#icon-description {
  font-size: 16px;
  margin-top: 10px;
  margin-right: 5px;
  font-weight: 400;
  text-transform: capitalize;
}
#line-2 {
  margin: 40px 40px;
  margin-bottom: 0px;
  border: 0.1px solid white;
}
.extra-info {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 17px;
  text-align: center;
  padding-left: 0px;
  margin: 20px 0px;
}
.humidity {
  margin-bottom: 2px;
}
strong {
  color: rgb(66, 92, 134, 0.7);
}
