.weather {
  background-color: #ebe9de;
  border-radius: 2px;
  width: 600px;
  height: 500px;
  margin: 0px auto;
  margin-top: 25px;
}
.weather-icon {
  height: 50px;
  margin-top: 20px;
}
.city {
  margin-top: 1px;
  margin-bottom: 10px;
  font-weight: 200;
}
.temperature {
  font-size: 36px;
  margin-top: 5px;
  font-weight: 500;
}
